.pf-c-chip {
  --pf-global--BorderColor--100: var(--pf-global--palette--purple-100);
  --pf-c-chip--BackgroundColor: var(--pf-global--palette--purple-50);
  --pf-c-chip--BorderRadius: var(--pf-global--BorderRadius--lg);
}